body {
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
    min-width: 1000px;
}

/* top section*/

.top-section {
    display: flex;
    flex-direction:column;
    background-color: #1F2937;
    padding: 10px 100px;
    padding-bottom: 75px;
    justify-content: space-between;
}

/* bar info */

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex:1;
    padding-bottom: 40px;
}

ul {
    display: flex;
    list-style:none;   
    gap: 20px;
    padding: 0px;
    margin: 0px;
    color: lightgray;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin:0;
}

/* header info */
.header {
    display: flex;
    gap: 40px;
    padding:20px 0px;
}

.header-text, .place-holder {
    flex:1;
}

.first-text {
    font-size:48px;
    font-weight: 900;
    color: #F9FAF8;
}

.first-text, .secondary-text {
    margin: 0px;
}

.secondary-text {
    color: lightgray;
    font-size: 18px;
}

.place-holder {
    display:flex;
    background-color: gray;
    align-items: center;
    justify-content: center;
    color: white;
}

.header button {
    background-color:  #3882F6;
    color: white;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    font-weight: 550;
}

/* info section */

.info-section {
    padding: 75px 100px;
    padding-top: 0px;
}

.text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.boxes .images{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 5px solid #3882f6;
    background-color: #3882f6;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box p {
    text-align: center;
    width: 150px;
    color: gray;
}

/* inspiring quote */

.quote-section {
    display: flex;
    flex-direction: column;
    padding: 75px 100px;
    background-color:lightgray;
}

.quote {
    color: #1f2937;
    margin: 0;
}

.quote-body {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-thor {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}

/* sign up section */

.sign-up-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 75px;
}

.sign-up-box {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    color: white;
    padding: 50px 100px;
    border-radius: 10px;
}

.sign-up-box button {
    background-color: #3882f6;
    color: white;
    outline: 2px solid white;
    padding: 10px 30px;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.sign-up-text .call {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.sign-up-text .click {
    margin:0;
}
